/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1c1c1e;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  padding: 80px 20px 20px; /* Aumenta el padding-top para evitar que el contenido quede debajo del menú */
}

/* Navbar Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2b2b2e;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

nav a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #ff512f;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  background-color: #ff7b7b;
  transform: scale(1.05);
}

/* General Button Style */
button {
  background: linear-gradient(90deg, #ff512f, #dd2476);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ff512f;
  border-radius: 5px;
  background: #2b2b2e;
  color: #fff;
}

label {
  font-weight: bold;
  font-size: 14px;
  color: #f76c6c;
}

/* Estadísticas Page */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ff512f;
  letter-spacing: 2px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #e5e5e5;
}

p span {
  font-weight: bold;
  color: #ff512f;
}

/* Listado de Personas */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

a {
  color: #ff512f;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff7b7b;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

/* Contact Form */
form {
  background-color: #2b2b2e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

input:focus {
  outline: none;
  border-color: #ff512f;
}
